absl-py==2.3.0
accelerate==1.7.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.12
aiosignal==1.3.2
async-timeout==5.0.1
attrs==25.3.0
certifi==2025.4.26
charset-normalizer==3.4.2
dashscope==1.23.4
diffusers @ file:///home/admin_shunwang_altostrat_com/hydisk/shun/diffusers
easydict==1.13
einops==0.8.1
filelock==3.18.0
frozenlist==1.7.0
fsspec==2025.5.1
ftfy==6.3.1
grpcio==1.73.0
hf-xet==1.1.3
huggingface-hub==0.32.5
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
jax @ https://us-python.pkg.dev/ml-oss-artifacts-published/jax-public-nightly-artifacts-registry/jax/jax-0.6.2.dev20250605-py3-none-any.whl#sha256=fcbe56b7acaa24debec3d8619543dc3f160207d2b732570f128c90ff2ec8fcf7
jaxlib @ https://us-python.pkg.dev/ml-oss-artifacts-published/jax-public-nightly-artifacts-registry/jaxlib/jaxlib-0.6.2.dev20250605-cp310-cp310-manylinux2014_x86_64.whl#sha256=0aaed7f190663ee2d97f0eacd1dccb5d6c7b079f4e0008fe04a0a3b3517bad18
Jinja2==3.1.6
libtpu==0.0.17.dev20250605+nightly
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml_dtypes==0.5.1
mpmath==1.3.0
multidict==6.4.4
networkx==3.4.2
numpy==2.1.2
opt_einsum==3.4.0
packaging==25.0
pillow==11.2.1
propcache==0.3.2
protobuf==6.31.1
psutil==7.0.0
Pygments==2.19.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
rich==14.0.0
safetensors==0.5.3
scipy==1.15.3
sympy==1.14.0
tokenizers==0.21.1
torch==2.8.0.dev20250610+cpu
torch-xla @ https://storage.googleapis.com/pytorch-xla-releases/wheels/tpuvm/torch_xla-2.8.0.dev-cp310-cp310-linux_x86_64.whl#sha256=df78ca285b5d28a985440d5ccde2c68cd5dc135f8b2429eef82a13f12ae3d3c5
torchvision==0.23.0.dev20250610+cpu
tpu-info==0.3.0
tqdm==4.67.1
transformers==4.52.4
typing_extensions==4.14.0
urllib3==2.4.0
wcwidth==0.2.13
websocket-client==1.8.0
yarl==1.20.1
zipp==3.23.0
